html {
   margin:0;
   padding: 0;
   text-align: center;
   font-family: sans-serif;
}
body {
 background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("background.jpg");
}
.home{
	margin:43px;
	padding:2;
	text-align:center;
	font-family: sans-serif;
	color:#fff;
}
	
.gallery{
	margin:43px;
	padding:0;
	text-align:center;
	font-family: sans-serif;
	font-size: 30px;
	color:#fff;
}
.photo-container{
	display:flex;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 13rem);
	gap: 5rem;
	max-width:100%;
	padding:5px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content:center;
}
.gallery-item{
	width:100%;
	height:100%;
	display:flex;
}
.gallery-item .photo{
	width:100%;
	height:100%;
	overflow:hidden;
	object-fit: cover;
	transform: scale(1.2);
	transition: transform .3s;
	filter: .3s;
}
.gallery-item .photo .img{
	display:grid;
	width:100%;
	height:100%;
	object-fit: cover;
}
.gallery-item:hover .photo{
	transform: scale (1.2);
	filter: blur(2px);
}	
.gallery-item:hover .text{
	top:50;
	bottom:50;
	transform:scale(1.2);
	opacity: 2;
	filter: none;
}
.gallery-item .text{
	opacity:2;
	position:absolute;
	top:50%;
	left:50%;
	right:50%;
	transform:translate(-50%, -50%);
	color:#fff;
	font-size:20px;
	font-weight:2000px;
	pointer-events:none;
	display:flex;
	flex-direction:left;
	align-items: center;
	justify-content:center;
	transition:opacitcy 2;
	filter: none;
}
.gallery-item .text span:before{
	width:100%;
	opacity:0;
}
.gallery-item .text span:after{
	width:100%;
	opacity: 2;
}
.floor-plan{
	width:300px;
	grid-column:1/3;
	grid-row:1/4;
}
.industrial{
	width:300px;
	grid-column:2/3;
	grid-row:2/4;
}
.cottage{
	width:300px;
	grid-column:3;
	grid-row:3/4;
}
.barndominium{
	width:300px;
	grid-column:1/3;
	grid-row:2/4;
}
.modern{
	width:300px;
	grid-column:2/3;
	grid-row:2/4;
}
.rustic{
	width:300px;
	grid-column:3;
	grid-row:3/4;
}
.amenities{
	width:300px;
	grid-column:2/3;
	grid-row:4;
}	
.contact{
	margin:43px;
	padding:0;
	text-align:center;
	font-family: sans-serif;
	color:#fff;